
SavingAndLoadingFiles.xcodeproj/xcuserdata/ncope.xcuserdatad/xcschemes/xcschememanagement.plist

SavingAndLoadingFiles.xcodeproj/xcuserdata/ncope.xcuserdatad/xcschemes/SavingAndLoadingFiles.xcscheme

SavingAndLoadingFiles.xcodeproj/project.xcworkspace/xcuserdata/ncope.xcuserdatad/UserInterfaceState.xcuserstate

SavingAndLoadingFiles.xcodeproj/project.xcworkspace/contents.xcworkspacedata
